/* src/App.css */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f5fbff;
  color: #100808;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.app-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 30px;
  color: #060606;
}

h2 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 20px;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}

input[type="file"] {
  color: white;
  background-color: #1a1a1d;
  border: none;
  padding: 6px;
  margin-right: 10px;
}

button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1a1a1d;
}
